#grid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.5rem;
    border-bottom: 0.5px solid grey;
    text-align: center;
}

.grid-row-style {
    width: 25%;
    height: 100%;
    color: black;
    border-left: solid 0.3px grey;
    border-right: solid 0.3px grey;
}

/* #grid-row:active {

    background-color: blue

} */

#grid-row:active {

    background-color: blue

}

