.title-container {
    width: 100%;
    color: #ffffff;
    background-color: blue;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}