
#bookingBox{
    background: #b1b1b1;
    width: 60%;
    position: absolute;
    top: 35%;
    left: 35;
    width: 30%;
    left: 35%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.booking-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.inputs{
    display: flex;
    width: 50%;
    position: relative;
    border-radius: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buts{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#cancelButton{
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
}

#submitButton{
    width: auto;
    height: auto;
    position: relative;
    justify-content: center;
    display: flex;
}

.text{
    font-size: 12pt;
}
textarea {
    resize: none;
  }
.notesInput{
    height: 50%;
    line-height: 150px;
}

.firstName{
    text-align: center;
}

.surname{
    text-align: center;
}