body, html {
    margin: 0;
    padding: 0;
    background: transparent;
}

.grid-container {
    /* display: grid; */
    height: 50%;
    width: 50%;
    background-color: blue;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 0;
    padding: 0;
}